
div#wrapper {
	background-color: #000;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: 0px;
}

header {
	background-color: #C1B49A;
    border: 0px;
    padding: 0px;
	height: 40vh;
}

header img {
	background-repeat: no-repeat;
	background-image: cover;
	height: 100vh;
	width: auto;
	float: left;
}

nav {
	background-color: #C1B49A;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

nav a {
	color: #fff;
	background-color: #C1B49A;
	display: inline-block;
	float: left;
	text-decoration: none;
	list-style-position: inside;
	padding: 15px;
	margin: 5px;
}

a:hover {
	background-color: #666;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}	

section#about {
    background-color: #666;
    border: 0px;
    overflow: auto;
    width: 100%;
    height: 100vh;
}


div#slogan {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
    background-color: #fff;
    color: #666;
    width: 46%;
    padding: 2%;
    display: inline-block;
    text-align: left;
  	line-height: 1.5em;
    float: left;
}

section#description {
    background-color: #666;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  	width: 46%;
    padding: 2%;
    display: block;
    text-align: left;
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section#portfolio {
    background-color: #666;
    border: 0px;
    padding: 20px;
}

div#work {
	background-color: #fff;
	padding: 4em;
	text-align: center;
	width: 100%;
}

footer {
	background-color: #666;
    border: 0px;
    padding: 20px 0;
}

div#contact {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	height: 100vh;
	padding: 2em;
}

/*h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}*/

/*h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}*/

/*p  {
	background-color: #666;
	list-style-position: inside;
	font-weight: normal;
	text-align: left;
	color: #fff;
	margin: 0px;
}*/

a {
	text-decoration: none;
	color: #111;
}


