* {margin:0;padding:0;box-sizing:border-box;}
#container {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	border: 0;
	line-height: 1.5;
}

header {
	background-color: #C1B49A;
	border: 0px;
	padding: 0px;
	height: 40vh;
}

header img {
	background-repeat: no-repeat;
	/*background-image: cover;*/
	height: 100vh;
	width: auto;
	float: left;
}

nav {
	background-color: #C1B49A;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	float: right;
}

nav a {
	color: white;
	background-color: #C1B49A;
	display: block;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	list-style-position: inside;
	float: left;
	width: auto;
	padding: 20px;
	margin: 5px;
}

a:hover {
	background-color: #fff;
	color:#C1B49A; 
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

/*<----ABOUT ME SECTION---->*/

#about {
    background-color: #666;
    padding: 3em 0;
}

#about .content{clear: both;/* padding: 3em 0; */}

h1{
	font-size: 1.5em;
	font-weight: normal;
	background-color: #fff;
	text-transform: lowercase;
	color: #C1B49A;
	padding: 2em 0 2em 6em;
	letter-spacing: 4px;
}

#bio img{
	display: block;
	/* float: left; */
	margin: 1em auto;
}

#bio h3{
	color:#C1B49A;
	font-size:34px;
	text-align:left;
	letter-spacing:4px;
	font-weight:bold;
	text-transform:uppercase;
}

#bio p{
	color: #fff;
	letter-spacing:1px;
	margin-top: 1em;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

/*<---END ABOUT ME SECTION--->*/

#work{
	background-color: #fff;
	padding: 8em 4em;
}

.portfolio{list-style-type: none;}

.portfolio li{
  width: 16.66%;
  float: left;
  padding: .25em;
}

.portfolio img{
  width: 100%;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

footer {padding: 6em 0;background: #C1B49A;}

#contact{width: 600px;margin: auto;}

#contact p{
	margin: 1em 0 0;
}

#contact h3{
	font-size:34px;
	color:#fff;
	letter-spacing:4px;
	font-weight:bold;
	text-transform:uppercase;
}

#contact a{
	text-decoration: none;
	color: #111;
	font-weight: bold;
}

#contact a:hover {
	background-color: #fff;
	padding: .5em;
}
